{%extends "base.html"%}

{%load static%}
{%block content%}
<!-- ======= Team Section ======= -->

<div class="py-5 team4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
                <br>
                <br>
                <h2>Experienced & Professional Team</h2>
            </div>
        </div>
        <div class="row">
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="{%static 'img/d.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Deepakshi Mahajan</h5>
                            <h6 class="subtitle mb-3">ML Engineer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
   
   
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="{%static 'img/k.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Kavya Mohan</h5>
                            <h6 class="subtitle mb-3">Frontend Developer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
       
       
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="{%static 'img/c.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Charu Saroya</h5>
                            <h6 class="subtitle mb-3">Backend Developer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
       
       
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="{%static 'img/t.jpg'%}" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Tejaswini</h5>
                            <h6 class="subtitle mb-3">Frontend Designer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
    </div>
</div>

<!-- End Team -->

{%endblock%}